:root {
  --survey-white-color: #ffffff;
  --survey-black-color: rgba(0, 0, 0, 0.8);
  --survey-lightgray-color: rgba(0, 0, 0, 0.1);
  --survey-gray-color: rgba(0, 0, 0, 0.3);
  --survey-darkgray-color: rgba(0, 0, 0, 0.7);
}

.wrap-survey {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 16px;
  margin-top: 30px;
  width: 100%;
  position: relative;
}

.article-survey {
  display: flex;
  align-items: center; /* Alinhe verticalmente os elementos */
  justify-content: center; /* Alinhe horizontalmente os elementos */
  padding: 8px 24px;
  border: 1px solid var(--survey-lightgray-color);
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}

.article-survey > span {
  margin-right: 20px;
  color: var(--survey-darkgray-color);
  font-weight: bold;
}

.button-group {
  display: flex;
  align-items: center; /* Alinhe verticalmente os elementos */
  justify-content: center; /* Alinhe horizontalmente os elementos */
}

.button-group button {
  display: flex;
  align-items: center; /* Alinhe verticalmente os elementos */
  justify-content: center; /* Alinhe horizontalmente os elementos */
  margin: 5px 2px;
  padding: 8px 15px;
  background-color: var(--survey-white-color);
  border: none;
  border-radius: 5px;
  fill: var(--survey-gray-color);
  color: var(--survey-darkgray-color);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s linear;
}

.button-group button:hover {
  background-color: var(--survey-gray-color);
  color: var(--survey-white-color);
  fill: var(--survey-white-color);
}

.button-group button svg {
  margin-right: 8px;
  width: 20px;
  height: auto;
}

.article-survey-button-disabled,
.article-survey-button-selected {
  color: var(--survey-white-color) !important;
  fill: var(--survey-white-color) !important;
  cursor: not-allowed !important;
}
.article-survey-button-disabled {
  background-color: var(--survey-lightgray-color) !important;
}
.article-survey-button-selected {
  background-color: var(--survey-gray-color) !important;
}

/* ################## */
.negative-feedback-dropdown {
  z-index: -9999999;
  opacity: 0;
  width: 55%;
  position: absolute;
  bottom: 60px;
  margin: 5px auto;
  padding: 16px;
  border: 1px solid var(--survey-lightgray-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px 1px var(--survey-lightgray-color);
  background-color: var(--survey-white-color);
  text-align: left;
  font-size: 15px;
  color: var(--survey-darkgray-color);
  transition: all 0.2s linear;
}

.header-negative-feedback-dropdown {
  display: block;
  margin-bottom: 16px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 16px;
}

.negative-feedback-dropdown .button_send_negative_feedback {
  margin: 4px auto;
  padding: 8px 16px;
  border: none;
  background-color: var(--survey-darkgray-color);
  color: var(--survey-white-color);
  cursor: pointer;
  transition: all 0.2s linear;
}
.negative-feedback-dropdown .button_send_negative_feedback:hover {
  background-color: var(--survey-black-color);
}

.negative-feedback-dropdown .button_cancel_negative_feedback {
  margin: 4px 4px;
  padding: 8px 16px;
  background-color: var(--survey-white-color);
  color: var(--survey-darkgray-color);
  border:1px solid var(--survey-lightgray-color);
  cursor: pointer;
  transition: all 0.2s linear;
}

.negative-feedback-dropdown .button_cancel_negative_feedback:hover {
  background-color: var(--survey-lightgray-color);
}
/* ################## */

.container-reason-negative-feedback {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}

.container-reason-negative-feedback input[type="radio"] {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.container-reason-negative-feedback label {
  width: 100%;
  cursor: pointer;
}

.container-negative-feedback-comment {
  border-top: 1px solid var(--survey-lightgray-color);
  margin-top: 24px;
  padding: 16px 0px;
  display: flex;
  flex-flow: column;
}
.container-negative-feedback-comment textarea {
  height: 56px;
  padding: 4px;
  margin: 8px 2px 0 0;
  font-family: "Roboto", sans-serif;
  border: 1px solid var(--survey-lightgray-color);
}
.container-negative-feedback-comment textarea:focus {
  border: 1px solid var(--survey-lightgray-color);
  outline: 1px solid var(--survey-darkgray-color);
}

.container-negative-feedback-comment span {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  color: var(--survey-darkgray-color);
}

.feedback-finish {
  display: none;
  padding: 16px 32px;
  /* margin-top: 16px; */
  border: 1px solid var(--survey-lightgray-color);
  border-radius: 5px;
  color: var(--survey-darkgray-color);
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.is-open {
  transform: translate(0px, -16px);
  opacity: 1;
  display: block;
  z-index: 9999999;
}

.is-closed {
  display: none;
}

@media only screen and (max-width: 600px) {
  .negative-feedback-dropdown {
    width: 100%;
  }
}
